<p id="who">
  <strong>Who:</strong>
  The course is aimed at students and researchers working at the Helmholtz-Centers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
